:root {
    /* Colors */
    --primary-color: #00B050;
    --on-primary: #ffffff;
    --secondary-color: #2196F3;
    --on-secondary: #ffffff;
    --alert-color: #FF3737;
    --on-alert: #333333;

    --surface: #ffffff;
    /* Light Mode */
    --on-surface: #333333;
    /* Light Mode */
    --surface-dark: #333333;
    /* Dark Mode */
    --on-surface-dark: #ffffff;
    /* Dark Mode */

    /* Typography */
    --font-family: 'Open Sans', sans-serif;

    --display-large-size: 61px;
    --display-large-font-weight: 900;
    --display-large-line-height: 1.2;
    --display-large-letter-spacing: 0%;

    --display-medium-size: 48px;
    --display-medium-font-weight: 700;
    --display-medium-line-height: 1.2;
    --display-medium-letter-spacing: 0%;

    --display-small-size: 36px;
    --display-small-font-weight: 700;
    --display-small-line-height: 1.2;
    --display-small-letter-spacing: 0%;

    --headline-large-size: 32px;
    --headline-large-font-weight: 700;
    --headline-large-line-height: 1.2;
    --headline-large-letter-spacing: 0%;

    --headline-medium-size: 24px;
    --headline-medium-font-weight: 700;
    --headline-medium-line-height: 1.2;
    --headline-medium-letter-spacing: 0%;

    --headline-small-size: 20px;
    --headline-small-font-weight: 700;
    --headline-small-line-height: 1.2;
    --headline-small-letter-spacing: 0%;

    --body-large-size: 18px;
    --body-large-font-weight: 400;
    --body-large-line-height: 1.5;
    --body-large-letter-spacing: 0%;

    --body-medium-size: 16px;
    --body-medium-font-weight: 400;
    --body-medium-line-height: 1.5;
    --body-medium-letter-spacing: 0%;

    --body-small-size: 12px;
    --body-small-font-weight: 400;
    --body-small-line-height: 1.5;
    --body-small-letter-spacing: 0%;

    --label-large-size: 14px;
    --label-large-font-weight: 500;
    --label-large-line-height: 1.5;
    --label-large-letter-spacing: 0.15px;

    --label-medium-size: 12px;
    --label-medium-font-weight: 500;
    --label-medium-line-height: 1.5;
    --label-medium-letter-spacing: 0.15px;

    --label-small-size: 11px;
    --label-small-font-weight: 500;
    --label-small-line-height: 1.5;
    --label-small-letter-spacing: 0.15px;

    /* Elevations */
    --elevation-0: none;
    --elevation-1: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    --elevation-2: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 4px 2px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);

    --elevation-1-dark: 0 2px 2px 0 rgba(0, 0, 0, 15%), 0 3px 1px -2px rgba(0, 0, 0, 15%), 0 1px 5px 0 rgba(0, 0, 0, 15%);
    --elevation-2-dark: 0 3px 3px 0 rgba(0, 0, 0, 15%), 0 4px 2px -2px rgba(0, 0, 0, 15%), 0 1px 8px 0 rgba(0, 0, 0, 15%);

    /* Buttons */
    --button-primary-background: var(--primary-color);
    --button-primary-color: var(--on-primary);
    --button-primary-hover-background: darken(var(--primary-color), 10%);

    --button-secondary-background: var(--secondary-color);
    --button-secondary-color: var(--on-secondary);
    --button-secondary-hover-background: darken(var(--secondary-color), 10%);

    --button-text-transform: uppercase;
    --button-border-radius: 20dp;
}



/* Typography Classes */
.display-large {
    font-size: var(--display-large-size);
    font-weight: var(--display-large-font-weight);
    line-height: var(--display-large-line-height);
    letter-spacing: var(--display-large-letter-spacing);
}

.display-medium {
    font-size: var(--display-medium-size);
    font-weight: var(--display-medium-font-weight);
    line-height: var(--display-medium-line-height);
    letter-spacing: var(--display-medium-letter-spacing);
}

.display-small {
    font-size: var(--display-small-size);
    font-weight: var(--display-small-font-weight);
    line-height: var(--display-small-line-height);
    letter-spacing: var(--display-small-letter-spacing);
}

.headline-large {
    font-size: var(--headline-large-size);
    font-weight: var(--headline-large-font-weight);
    line-height: var(--headline-large-line-height);
    letter-spacing: var(--headline-large-letter-spacing);
}

.headline-medium {
    font-size: var(--headline-medium-size);
    font-weight: var(--headline-medium-font-weight);
    line-height: var(--headline-medium-line-height);
    letter-spacing: var(--headline-medium-letter-spacing);
}

.headline-small {
    font-size: var(--headline-small-size);
    font-weight: var(--headline-small-font-weight);
    line-height: var(--headline-small-line-height);
    letter-spacing: var(--headline-small-letter-spacing);
}

.body-large {
    font-size: var(--body-large-size);
    font-weight: var(--body-large-font-weight);
    line-height: var(--body-large-line-height);
    letter-spacing: var(--body-large-letter-spacing);
}

.body-medium {
    font-size: var(--body-medium-size);
    font-weight: var(--body-medium-font-weight);
    line-height: var(--body-medium-line-height);
    letter-spacing: var(--body-medium-letter-spacing);
}

.body-small {
    font-size: var(--body-small-size);
    font-weight: var(--body-small-font-weight);
    line-height: var(--body-small-line-height);
    letter-spacing: var(--body-small-letter-spacing);
}

.label-large {
    font-size: var(--label-large-size);
    font-weight: var(--label-large-font-weight);
    line-height: var(--label-large-line-height);
    letter-spacing: var(--label-large-letter-spacing);
}

.label-medium {
    font-size: var(--label-medium-size);
    font-weight: var(--label-medium-font-weight);
    line-height: var(--label-medium-line-height);
    letter-spacing: var(--label-medium-letter-spacing);
}

.label-small {
    font-size: var(--label-small-size);
    font-weight: var(--label-small-font-weight);
    line-height: var(--label-small-line-height);
    letter-spacing: var(--label-small-letter-spacing);
}

.slash {
    background-color: var(--on-primary);
    width: 2px;
    height: 80%;
}

.social-media-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

    /* Center icons horizontally */
}

.social-media-icons li,
.upper-top-dateweather li {
    margin: 0 10px;
}

.social-media-icons a,
.upper-top-dateweather a {
    color: var(--on-primary);
    transition: color 0.3s ease;
}

.socail-bottom a {
    color: var(--primary-color);
}

.social-media-icons a:hover {
    color: var(--alert-color);
}


body {
    background-color: var(--surface);
    color: var(--on-surface);
    font-family: var(--font-family);

}


body.dark-theme {
    background-color: var(--surface-dark);
    color: var(--on-surface-dark);
    font-family: var(--font-family);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.upper-top {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    width: 100%;
    height: 66px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 0px 16px;
    box-shadow: var(--elevation-1);
}

.upper-top-left {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--on-primary);
    padding: 16px;
}

.upper-top-right {
    width: 60%;
    display: flex;
    gap: 24px;
    align-items: center;
}

.upper-top-right-socail {
    width: 30%;
    display: flex;
    justify-content: end;
}

.weather-info,
.date-info {
    display: flex;
    align-items: center;
    gap: 10px;
    /* Adjust spacing as needed */
}

.upper-top-dateweather {
    width: 60%;
    color: var(--on-primary);
    display: flex;
    gap: 24px;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--on-alert);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: var(--on-primary);
    /* Example active color */
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body.dark-theme .slider {
    background-color: var(--on-primary);
}

body.dark-theme .slider:before {
    background-color: var(--on-alert);
}

body.dark-theme input:checked+.slider {
    background-color: var(--on-primary);
}

body.dark-theme input:focus+.slider {
    box-shadow: 0 0 1px #bb86fc;
}

.heroandnav {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, var(--secondary-color), var(--primary-color));
    margin-top: 66px;
    padding: 0px 64px;
}



.nav {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-bottom: 23px;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 24px;
    width: 95%;
    align-items: center;
    justify-content: end;
}

.nav ul a {
    text-decoration: none;
    color: var(--primary-color);
}

.nav ul a:hover {
    color: var(--alert-color);
}


nav {
    display: flex;
    background-color: var(--on-primary);
    box-shadow: var(--elevation-1);
    width: 100%;
    border-radius: 20px;
    padding: 8px 16px;
}

body.dark-theme nav {
    background-color: var(--on-alert);
    /* Background color in dark mode */
}


nav img {
    width: 55px;
    height: 50px;
}

.menu-nav {
    display: none;
}

.menu-nav li a div {
    width: 40px;
    height: 4px;
    background-color: #00B050;

}

.menu-nav li a div:last-child {
    width: 24px;
    height: 4px;
    background-color: #00B050;

}

.menu-nav li a {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.nav-overlay {
    width: 100%;
    height: 80vh;
    background-color: var(--on-primary);
    box-shadow: var(--elevation-2);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    margin-top: 65px;
    display: none;
}


.hero-section {
    height: 85%;
    width: 100%;
    display: flex;
    color: var(--on-primary);
}

.hero-word {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

}



.heroimageback {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.heroimagebackground {
    background-color: var(--on-primary);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
}

.heroimagebackground img {
    width: 100%;
    height: 125%;
}

.topnavbtn {
    background-color: var(--on-primary);
    border: none;
    border-radius: 8px;
    color: var(--primary-color);
    height: 40px;
    padding: 8px 32px;
    font-size: 16px;
}

.topnavbtn:hover {
    background-color: var(--alert-color);
    color: var(--on-alert);
}




.wellnessweek {
    margin: 64px;
    display: flex;
    gap: 40px;
    height: auto;
}


.awarenesspost,
.wellnesspost {
    height: 55vh;
    background-color: teal;
    width: 36%;
    border-radius: 20px;
    position: relative;
}

.awarenesspost img,
.wellnesspost img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    border-radius: 20px;
}


.welaredet {
    position: absolute;
    top: 20%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 90%;
    color: rgba(255, 255, 255, 0.807);

}

.welaredet button {
    width: 40%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.587);
    color: var(--on-alert);
}


.wekklposthead {
    width: 20%;
}


.wekklposthead h4 {
    font-weight: 100;
    font-size: 50px;
}





footer {
    width: 50%;
    margin: 200px auto 0px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.newsletter {
    display: flex;
    gap: 0px;
    width: 100%;
    justify-content: center;
    padding: 8px;
}

.logo img {
    width: 200px;
}

.newsletter input {
    width: 50%;
    height: 40px;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: 2px solid var(--primary-color);
    padding-left: 8px;
}

.newsletter button {
    background-color: #00B050;
    border: none;
    padding: 8px 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.fixedsidesocail {
    padding: 8px;
    background-color: #33333394;
    position: fixed;
    top: 50%;
    right: 0%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: var(--on-primary);
    z-index: 1;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #333;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: transparent;
}

.scroll-to-top:hover {
    border: 2px solid var(--primary-color);
    transform: rotate(360deg);
    transition: 0.5s;
}

.scroll-to-top i {
    color: var(--primary-color);
}


.show-button {
    opacity: 1;
}




.search {
    height: 90vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: red;
    opacity: 0.5;
    overflow-x: hidden;
    transform: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 8px;
    display: none;
}

.search.active {
    height: 90vh;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: red;
    opacity: 0.5;
    overflow-x: hidden;
    transform: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 8px;
    display: block;
}





.search input {
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--on-primary);
    color: white;
    outline: none;
}

.search a {
    margin-top: 8px;
    color: white;
}

.close {
    position: absolute;
    bottom: 0;
    right: 0;
}



.fa-regular.fa-circle-play {
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 160px;

}

.youtube-container {
    width: 100%;
    padding: 0px 64px;
    margin-top: 200px;
}


.youtube {
    height: 120vh;
    color: white;
    width: 100%;
    border-radius: 64px;
    position: relative;

}




.youtube video {
    height: 120vh;
    width: 100%;
    object-fit: cover;
    border-radius: 64px;

}

.youtube .over {
    height: 120vh;
    width: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.497);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 64px;
}

.youtubedetail {
    width: 90%;
    left: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px;
    position: absolute;
    top: 40%;
    left: 5%;

}

.youtubedetail>* {
    text-align: center;
}

.playcircle {
    top: 80%;
    right: 32px;
    background-image: linear-gradient(to top, var(--primary-color), var(--secondary-color));
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.playcircle i:hover {
    color: var(--alert-color);
}

.testimonial-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    margin-top: 200px;
    padding: 0px 64px;
}

.testimonial {
    height: 50vh;
    box-shadow: var(--elevation-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    background-color: var(--on-primary);
    border-radius: 24px;
    padding: 8px 16px;
}

body.dark-theme .testimonial {
    background-color: var(--on-alert);
    box-shadow: var(--elevation-2-dark);
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.testimonial a {
    color: var(--primary-color);
}








@media screen and (max-width: 767px) {

    .upper-top {
        width: 100vw;
        position: fixed;
        top: 0;
        z-index: 1;
    }

    .upper-top-right-socail {
        display: none;
    }

    .upper-top-dateweather {
        display: none;
    }

    .upper-top-right {
        width: 10%;
        justify-content: end;
    }


    .upper-top-left {
        width: 90%;
    }

    .upper-top-left h2 {
        font-size: 16px;
    }

    .upper-top-left p {
        font-size: 12px;
    }


    .heroandnav {
        width: 100vw;
        height: 50vh;
        margin-top: 66px;
        padding: 0px 16px;
    }



    .nav {
        width: 100%;
        height: 23%;
        margin-bottom: 0px;
        align-items: center;
    }



    nav {
        width: 100%;
        height: 60%;
        border-radius: 10px;

    }

    body.dark-theme nav {
        background-color: var(--on-alert);
        /* Background color in dark mode */
    }


    nav img {
        width: 42px;
        height: 40px;
    }

    .menu-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }



    .desk-nav {
        display: none;
    }

    .hero-section {
        height: 77%;
        width: 100%;
        display: flex;
        color: var(--on-primary);
    }


    .hero-word button {
        display: none;
    }


    .nav-overlay {
        height: fit-content;
        width: 70%;
        margin-top: 65px;
        display: none;
        padding: 16px;
    }


    body.dark-theme .nav-overlay {
        background-color: var(--on-alert);
        box-shadow: var(--elevation-2-dark);
    }

    .overlay-close {
        width: 100%;
        display: flex;
        justify-content: end;
    }

    .overlay-close button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        width: auto;
        height: 50px;
    }

    .overlay-close div {
        width: 40px;
        height: 4px;
        background-color: #00B050;
        transition: 1s;
        transform: rotate(45deg);
    }

    .overlay-close div:last-child {
        transform: rotate(135deg);
        margin-top: -4px;
    }

    .overlay-link {
        width: 100%;
        margin-top: 20px;
    }

    .overlay-link ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: 95%;
        align-items: center;
        justify-content: end;
    }

    .overlay-link ul a {
        text-decoration: none;
        color: var(--primary-color);
    }

    .overlay-link ul a:hover {
        color: var(--alert-color);
    }



    .hero-word {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

    }

    .hero-word h1 {
        font-size: 18px;
    }

    .hero-word p {
        font-size: 12px;
        display: none;
    }


    .heroimageback {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: end;
        justify-content: end;
    }

    .heroimagebackground {
        background-color: var(--on-primary);
        width: 100%;
        height: 80%;
        border-radius: 50%;
        display: flex;
        align-items: end;
        justify-content: end;
    }

    .heroimagebackground img {
        width: 100%;
        height: 125%;
    }

    .wellnessweek {
        margin: 100px 16px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


    .awarenesspost,
    .wellnesspost {
        width: 100%;
    }

    .welaredet {
        top: 15%;
    }


    .wekklposthead {
        width: 100%;
    }


    .fa-regular.fa-circle-play {
        color: white;
        border-radius: 50%;
        padding: 5px;
        font-size: 60px;

    }

    .youtube-container {
        width: 100%;
        padding: 0px 16px;
        margin-top: 100px;
    }


    .youtube {
        height: 55vh;
        width: 100%;
        border-radius: 24px;
        position: relative;

    }




    .youtube video {
        height: 55vh;
        border-radius: 24px;
    }

    .youtube .over {
        height: 55vh;
        border-radius: 24px;
    }

    .youtubedetail {
        width: 90%;
        gap: 32px;
        position: absolute;
        top: 10%;
        left: 5%;

    }

    .youtubedetail>* {
        text-align: center;
    }


    .youtubedetail h3 {
        font-size: 25px;
    }

    .youtubedetail p {
        font-size: 14px;
    }

    .playcircle {
        width: 80px;
        height: 80px;
    }


    .testimonial-container {
        grid-template-columns: 1fr;
        margin-top: 100px;
        padding: 0px 16px;
    }

    .testimonial {
        height: fit-content;
    }




    footer {
        width: 100%;
        margin: 50px auto 0px;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content: center;
        padding: 16px;
    }

    footer h3 {
        text-align: center;
    }



    .logo img {
        width: 100px;
    }


}






















@media (min-width: 768px) and (max-width: 1023px) {


    .upper-top-left h2 {
        font-size: 20px;
    }

    .upper-top-left p {
        font-size: 16px;
    }

    .upper-top-right {
        justify-content: end;
    }

    .upper-top-right-socail {
        display: none;
    }



    .upper-top-dateweather {
        width: 80%;
    }



    .heroandnav {
        width: 100%;
        height: 50vh;
        background-image: linear-gradient(to top, var(--primary-color), var(--secondary-color));
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 66px;
        background-position: 0 50%;
        padding: 0px 32px;
    }



    .nav {
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }


    .hero-section {
        height: 80%;
        align-items: end;
    }

    .hero-word {
        width: 55%;
    }


    .heroimageback {
        width: 45%;
    }

    .hero-section h1 {
        font-size: 40px;
    }



    .wellnessweek {
        margin: 32px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        height: auto;
    }




    .awarenesspost,
    .wellnesspost {
        height: 40vh;
        width: auto;
    }

    .awarenesspost img,
    .wellnesspost img {
        height: 40vh;
    }


    .welaredet {
        top: 15%;
    }


    .wekklposthead {
        width: auto;
        grid-column-start: 1;
        grid-column-end: 3;
    }


    .fa-regular.fa-circle-play {
        color: white;
        border-radius: 50%;
        padding: 5px;
        font-size: 130px;

    }




    .youtube-container {
        width: 100%;
        padding: 0px 32px;
        margin-top: 150px;
    }


    .youtube {
        height: 60vh;
        border-radius: 32px;
    }




    .youtube video {
        height: 60vh;
        border-radius: 32px;

    }

    .youtube .over {
        height: 60vh;
        border-radius: 32px;
    }

    .youtubedetail {
        gap: 64px;
        top: 15%;
        left: 5%;

    }

   
    .playcircle {
       
        width: 150px;
        height: 150px;
    }


    .testimonial-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        margin-top: 150px;
        padding: 0px 32px;
    }

    .testimonial {
        height: 40vh;
    }



    footer h3 {
        text-align: center;
    }






    .search {
        height: 90vh;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: red;
        opacity: 0.5;
        overflow-x: hidden;
        transform: 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 8px;
        display: none;
    }

    .search.active {
        height: 90vh;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: red;
        opacity: 0.5;
        overflow-x: hidden;
        transform: 1s;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        gap: 8px;
        display: block;
    }





    .search input {
        width: 90%;
        background-color: transparent;
        border: none;
        border-bottom: 3px solid var(--on-primary);
        color: white;
        outline: none;
    }

    .search a {
        margin-top: 8px;
        color: white;
    }

    .close {
        position: absolute;
        bottom: 0;
        right: 0;
    }

}